body {
 background: url('bg.jpg') top center scroll no-repeat ;
background-repeat: no-repeat;
background-style:cover;
background-position: top center;
  color: #000;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
text-align:center;
}

th {
color: white;
font-family: verdana, arial, helvetica, sans-serif;
  font-size: 20px;
  font-weight:bold;
  line-height: 22px;
text-shadow: #000 0px 1px 1px;
width: 150px;

}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  font-weight:bold;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #000;
  }
  &:hover {
    color: #fff;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: blue;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#post_imie, #post_nazwisko, #post_kraj{
background-color: white;
border-bottom-width: 2px;
border-left-width: 2px;
border-right-width: 2px;
border-top-width: 2px;
color: #000000;
font-family: use-lang-def;
font-size: 13px;
font-weight: 400;
padding: 1px;
text-align: default;
text-indent: 0px;
text-transform: none;
border-radius: 0px;
  //-webkit-border-radius: 0px;
  border: none;
  padding: 0px;
width:200px;
}



input{
background-color: #16F7F7;
border-bottom-width: 2px;
border-left-width: 2px;
border-right-width: 2px;
border-top-width: 2px;
color: #000000;
font-family: "verdana", "arial", "helvetica", sans-serif;
font-size: 13px;
font-weight: 400;
padding: 1px 5px;
text-align: center;
text-indent: 0px;
text-transform: none;
width:100px;
border-radius: 10px;
  //-webkit-border-radius: 10px;
  border: 2px solid #fff;
  padding: 2px;
}

input:hover{
background-color: #00f;
color: white;
border-radius: 10px;
  //-webkit-border-radius: 10px;
  border: 2px solid #000;
  padding: 2px;

}

div.show{
background: rgba(255,255,255,0.5);
}